[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = ">=0.42.*"
uvicorn = ">=0.10.*"
peewee = "*"
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.8"
